* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

.container {
  margin-top: 100px;
}

.text-btn:hover {
  cursor: pointer;
  color: #5085a5;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #31708e;
  border-radius: 50%;
}

.big-title {
  font-size: 3em;
  font-weight: 800;
}

.small-title {
  font-size: 1.5em;
  font-weight: 600;
}

/* Navigation bar */

.home-profile-pic {
  height: 469px;
}

.navbar {
  font-weight: 500;
}

#nav-logo {
  color: #687864;
  font-weight: 600;
  cursor: pointer;
}

.nav-btn {
  color: #303030;
}

.nav-btn:hover {
  text-decoration: none;
}

.contact-me-btn:hover {
  text-decoration: none;
}

.contact-me-btn-inner-text {
  color: #303030;
  border: 2px solid #464646;
  border-radius: 20px;
  padding: 6px 18px;
  text-decoration: none;
}

.contact-me-btn-inner-text:hover {
  border-color: #5085a5;
  text-decoration: none;
  color: #5085a5;
  cursor: pointer;
}

.mobile-menu-hamburger {
  width: 30px;
  cursor: pointer;
}

.mobile-menu {
  width: 80%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
  right: 0;
  background-color: #f3f8fc;
  font-size: 1.3em;
}

.mobile-menu > div > * {
  margin: 10px 0;
}

/* Home page */

.home-name {
  margin-top: 25%;
  font-weight: 700;
  font-size: 3.8em;
  line-height: 1.7em;
}

.call-to-action-btn {
  background-color: #31708e !important;
  color: #f7f9fb !important;
  padding: 6px 13px !important;
}

.circle {
  height: 888px;
  width: 888px;
  background-color: rgb(155, 177, 206);
  border-radius: 50%;
  position: absolute;
  right: -169px;
  top: 100px;
  z-index: -9;
}

.home-row-2 {
  margin-top: 168px;
}

.title {
  font-size: 2em;
  font-weight: 500;
}

.home-about-me {
  line-height: 2em;
}

.home-row-3 {
  margin-top: 128px;
}

.home-key-skills {
  font-size: 1.5em;
  font-weight: 100;
}

/* Contact Page */

.contact-whole-card {
  background-color: #e0eaf3;
  border-radius: 10px;
  margin-top: 100px;
}

.contact-info-card {
  background-color: #31708e;
  margin: 13px 0;
  border-radius: 2px 10px 5px 10px;
  padding: 20px;
}

.contact-info-card > * {
  color: #ffffff;
}

.contact-info {
  font-size: 1.3em;
}

.contact-info-icons {
  height: 20px;
  width: auto;
}

/* Footer */
.footer {
  margin-top: 100px;
  height: 300px;
  background-color: #31708e;
}

.footer-links > div > * {
  width: 48px;
  height: 48px;
  margin: 0 30px;
}
